@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}

ul,
ol {
    margin: 0;
    padding: 0;
}

/* ====variable define===== */
:root {
    --primary-color: #AB2C48;
    --secondary-color: #43121d;
    --third-color: #f98169;
    --white-color: #fff;
    --text-color: #555;
    --text-gray: #555;
    --black-color: #000;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}

/*
=================================================
||        custom Scrollbar
================================================= 
*/

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

/*
=================================================
||        Custom CSS Design
================================================= 
*/

h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--secondary-color);
}

h2 {
    font-weight: 700;
    font-size: 2.25rem;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    line-height: 3rem;
}

h4 {
    font-weight: 800;
    font-size: 18px;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
}

h5 {
    font-weight: 700;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

p {
    font-weight: 400;
    font-size: 1rem;
    text-transform: capitalize;
    line-height: 1.75rem;
    color: var(--text-color);
    letter-spacing: 1px;
}